$primary-color: #333c4e;
$secondary-color: #00d573;
$color-white: #FFFFFF;

$header-background-color: $primary-color;

$footer-background-color: $secondary-color;

$primary-button-background: $primary-color;
$primary-button-color: $color-white;

$result-list-item-background-color: $primary-color;
$result-list-item-color: $color-white;

