@import '../../styles/variables';

.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  input {
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1rem;
    padding: 10px;
  }

  button {
    background-color: $primary-button-background;
    border: none;
    color: $primary-button-color;
    font-size: 1rem;
    padding: 10px 15px;
  }
}