@import '../../styles/variables';

.result-list-item {
  background-color: $result-list-item-background-color;
  color: $result-list-item-color;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 278px;
  margin: 20px;
  max-width: 750px;

  .result-list-item-image {
    height: 278px;
    width: 185px;
  }
 
  .result-list-item-info {
    margin-bottom: 10px;
    overflow: auto;
    padding: 20px;

    .result-list-item-name {
      font-weight: bold;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    height: auto;

    .result-list-item-image {
      align-self: center;
    }
  }
}